@model IEnumerable<RecursiveReviews.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewScore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewAuthor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReviewDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReviewDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReviewID })
        </td>
    </tr>
}

</table>
